This file is part of lib-fm-tools, a library for interacting with FM-Tools files:
https://gitlab.com/sosy-lab/benchmarking/fm-tools

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}